debugpy==1.8.1
Django==5.0.4
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.1.2
mysqlclient==2.2.4
mysqldump==0.0.10
overrides==7.7.0
packaging==24.0
pandocfilters==1.5.1
parso==0.8.4
pillow==10.3.0
platformdirs==4.2.1
prometheus_client==0.20.0
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
pycparser==2.22
pygame==2.6.0
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.1
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
razorpay==1.4.2
referencing==0.35.1
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.18.1
setuptools==69.5.1
sqlparse==0.5.0
stack-data==0.6.3
types-python-dateutil==2.9.0.20240316
tzdata==2024.1
